*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

section {
}

section::before,
section::after {
    position: absolute;
    content: '';
    pointer-events: none;
    overflow: hidden;
}

.astronautImage {
    position: relative;
    display: block;
    max-width: 100%;
    position: absolute;
    bottom: 550px;
    left: -290;
    opacity: 1;
    transition: all 0.9s ease-out;
    transform: translate(-50%, 100%);
}

#astroImg {
    width: 200;
}

@media only screen and (max-width: 640px) {
    #astroImg {
        width: 60px;
        left: -90;
        bottom: 500px;
    }
}