/*CSS Reset*/

html {
    color: #000;
    background: #FFF
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

q:before, q:after {
    content: ''
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%
}

legend {
    color: #000
}

#yui3-css-stamp.cssreset {
    display: none
}

/*Keyframes for twinkling background */

@keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-moz-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

/* Twinkling stars div */

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}

.stars {
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 1;
    background-attachment: fixed;
}

.twinkling {
    width: 10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    -moz-animation: move-background 70s linear infinite;
    -ms-animation: move-background 70s linear infinite;
    -o-animation: move-background 70s linear infinite;
    -webkit-animation: move-background 70s linear infinite;
    animation: move-background 70s linear infinite;
    background-attachment: fixed;
}

/* header and navlinks */

#header {
    width: 100%;
    height: 4%;
    background: rgb(81, 94, 100);
    position: fixed;
    right: 0;
    top: 0;
    text-align: center;
    padding: 11 0 11 11;
    margin-bottom: 300px;
    border-bottom: 1px solid rgba(111, 119, 122, 0.8);
    z-index: 4;
}

#navigationList {
    width: 100%;
}

#navigationList li {
    display: inline;
    font-family: 'Titillium Web', sans-serif;
}

li a {
    font-size: 19px;
    position: relative;
    top: 5px;
    color: white;
    text-decoration: none;
    margin: 20px;
}

li a:hover {
    color: rgb(114, 204, 168);
}

li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(114, 204, 168);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* projects links  */

#projectsTitle {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    color: white;
    position: relative;
    text-align: center;
    margin: 26% auto 5%;
}

.projects-container {
    text-align: center;
    z-index: 3;
}

.projects {
    width: 56%;
    margin: 5% auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#psychicImage:hover+#psychicText {
    visibility: visible;
}

#sfImage:hover+#sfText {
    visibility: visible;
}

#runImage:hover+#runText {
    visibility: visible;
}

#trainImage:hover+#trainText {
    visibility: visible;
}

#moonImage:hover+#moonText {
    visibility: visible;
}

#gifImage:hover+#gifText {
    visibility: visible;
}

#liriImage:hover+#liriText {
    visibility: visible;
}

#bamazonImage:hover+#bamazonText {
    visibility: visible;
}

#todoImage:hover+#todoText {
    visibility: visible;
} 

#rlglImage:hover+#rlglText {
    visibility: visible;
} 

#ffImage:hover+#ffText {
    visibility: visible;
} 

.work {
    flex: 1 1 auto;
    height: auto;
    max-width: auto;
    margin: 20px 20px;
    text-align: center;
    position: relative;
}

.projects img {
    height: 200px;
    max-width: 200px;
    border: 5px solid #53687E;
    border-radius: 50%;
}

.projects img:hover {
    opacity: .3;
    transition: .5s;
    visibility: visible;
    transition: .5s;
}

.image-text {
    font-family: 'Titillium Web', sans-serif;
    position: absolute;
    max-width: 100px;
    bottom: 80px;
    left: 50%;
    margin-left: -50px;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    visibility: hidden;
    pointer-events: none;
    text-align: center;
}

/*scrolling*/

a[ id="projects"]:target~#mainContent #projectsTitle {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px);
}

/*responsive media queries*/

@media only screen and (max-width: 640px) {
    .projects {
        position: relative;
        top: 75px;
        width: 100%;
        margin: 0px auto 100px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #projectsTitle {
        position: relative;
        text-align: center;
        margin-top: 74%;
    }
    .projects img {
        height: 100px;
        max-width: 100px;
        border: 5px solid #53687E;
        border-radius: 50%;
    }
    .work {
        margin: 20px;
    }
    .image-text {
        max-width: 70px;
        font-size: 20px;
        font-weight: 100;
        top: 17px;
        left: 73px;
    }
}